.main{
    background-color: rgba(85, 201, 201, 0.445);
}
.border1{
    width: 1000px;
    height: 500px;
    border-top: 5px solid rgb(235, 71, 21);
    border-right: 5px solid rgb(61, 231, 70);
    border-bottom: 5px solid rgb(13, 6, 82);
    border-left: 5px solid rgb(6, 156, 94);
    padding: 50px;
}
.border2{
    width: 600px;
    height: 300px;
    border-top: 5px solid rgb(216, 13, 13);
    border-right: 5px solid rgb(7, 78, 31);
    border-bottom: 5px solid rgb(245, 6, 173);
    border-left: 5px solid rgb(57, 6, 99);
    margin:50px 50px 50px 50px;
    padding: 40px;
}

.border3{
    width: 300px;
    height: 150px;
    border-top: 5px solid rgb(140, 187, 11);
    border-right: 5px solid rgb(2, 36, 27);
    border-bottom: 5px solid rgb(13, 6, 82);
    border-left: 5px solid rgb(26, 2, 2);
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
}